@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* > * {
    font-family: "Poppins", cursive;
    margin: 0;
}

body {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(101,9,121,1) 35%, rgba(162,0,255,0.5998774509803921) 100%);
}

:root{
    --color-dark: #2C3131;
    --color-light: #F3F3F2;
}

#main{
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    height: 100vh;
    /*float: left;*/
}

.board {
    text-align: center;
}

.board .leaderboard{
    margin-bottom: 1em;
}

.board .duration{
    display: flex;
    justify-content: center;
    gap: 1em;
}

.board .duration > button{
    border: 1px solid var(--color-light);
    padding: .5em 2em;
    border-radius: 50px;
    background-color: transparent;
    cursor: pointer;
}

.board .duration > button:hover{
    background-color: var(--color-dark);
    color: var(--color-light);
}

.active{
    background-color: var(--color-dark);
    color: var(--color-light);
}

#profile{
    display: flex;
    float: left;
    margin-top: 3em;
}

#profile .flex{
    display: flex;
    justify-content: space-between;
    gap: 1em;
    text-align: left;
    margin-bottom: 2em;
}

#profile .flex .item{
    display: flex;
    align-items: center;
}

#profile .flex img{
    width: 20%;
    border-radius: 50%;
}

#profile .flex .info{
    padding: 1em;
}

.text-dark{
    color: var(--color-dark);
}

.image{
    height: 200px;
}

.numbers {
    /*float: left;*/
    width:  50px;
    /*height: 100px;*/
    /*object-fit: cover;*/
}
.stratify {
    padding: 1rem;
    columns: 1 auto;
}

.stratifyOneColumn {
    padding: 1rem;
    columns: 1 auto;
}

[id^=test] {
    display: none;
    visibility: hidden;
}

#test1 {
    display: block;
    visibility: visible;
}